html {
	background-color: green;
}

.container {
	margin: 0;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.up-container {
	width: 98vw;
	height: 49vh;
	display: flex;
	justify-content: center;
	flex-direction: row;
	text-align: center;
}

.mazzo {
	width: 25%;
	height: 90%;
	padding: 20px;
}

.tavolo {
	width: 70%;
	height: 90%;
	padding: 20px;
	display: flex;
	justify-content: center;
	flex-direction: row;
	text-align: left;
	padding: 20px;
}

.down-container {
	width: 98vw;
	height: 49vh;
	display: flex;
	justify-content: center;
	flex-direction: row;
	text-align: center;
}

.giocatore {
	width: 20%;
	height: 90%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: left;
	padding: 20px;
}

.nomegiocatore {
	width: 100%;
	height: 10%;
}

.carte {
	width: 100%;
	height: 90%;
	display: flex;
	justify-content: center;
	flex-direction: row;
	text-align: left;
}

.cartetavolo {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: row;
	text-align: left;
}

.carta {
	width: 48%;
	height: 100%;
	padding: 2%;
}

.cartatavolo {
	width: auto;
	height: 100%;
}

h1 {
	margin: 0;
}

.carta img {
	width: 100%;
	height: auto;
}

.titlemazzo {
	width: 100%;
	height: 10%;
}

.cartamazzo {
	width: 100%;
	height: 90%;
	display: flex;
	justify-content: center;
	text-align: center;
}

.cartamazzo img {
	width: auto;
	height: 70%;
}

.cartatavolo img {
	width: auto;
	height: 70%;
}
