html {
	background-color: green;
}

.container {
	margin: 0;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.up-container {
	width: 98vw;
	height: 45vh;
	display: flex;
	justify-content: center;
	flex-direction: row;
	text-align: center;
}

.down-container {
	width: 98vw;
	height: 45vh;
	display: flex;
	justify-content: center;
	flex-direction: row;
	text-align: center;
}

.bottom-container {
	width: 98vw;
	height: 8vh;
	display: flex;
	justify-content: center;
	flex-direction: row;
	text-align: center;
}

.mazzo {
	width: 25%;
	height: 90%;
	padding: 20px;
}

.tavolo {
	width: 70%;
	height: 90%;
	padding: 20px;
	display: flex;
	justify-content: center;
	flex-direction: row;
	text-align: left;
	padding: 20px;
	margin-top: 12px;
}

.giocatore {
	width: 20%;
	height: 90%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: left;
	padding: 20px;
}

.nomegiocatore {
	width: 100%;
	height: 10%;
}

.carte {
	width: 100%;
	height: 90%;
	display: flex;
	justify-content: center;
	flex-direction: row;
	text-align: left;
}

.cartetavolo {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: row;
	text-align: left;
}

.carta {
	width: 48%;
	height: 100%;
	padding: 2%;
}

.cartatavolo {
	width: auto;
	height: 100%;
}

h1 {
	margin: 0;
}

.carta img {
	width: 100%;
	height: auto;
}

.titlemazzo {
	width: 100%;
	height: 10%;
}

.cartamazzo {
	width: 100%;
	height: 90%;
	display: flex;
	justify-content: center;
	text-align: center;
}

.cartamazzo img {
	width: auto;
	height: 70%;
}

.cartatavolo img {
	width: auto;
	height: 70%;
}

/* Stili per il pulsante di logout */
input[type="button"][name="logout"] {
	margin-top: 20px;
	padding: 10px;
	cursor: pointer;
	border: none;
	border-radius: 5px;
	background: #f44336;
	color: #ffffff;
	font-size: 16px;
	transition: all 0.3s ease;
	transform: translate(20px, 0);
}

input[type="button"][name="logout"]:hover {
	background: #d32f2f;
}

.bottom-center {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.bottom-side {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
}

/* Stili per il pulsante di action */
input[type="button"][name="action"] {
	margin-right: 30px;
	margin-left: 30px;
	padding: 20px;
	height: 80%;
	cursor: pointer;
	border: none;
	border-radius: 5px;
	background: #758191;
	color: #ffffff;
	font-size: 20px;
	transition: all 0.3s ease;
	transform: translate(20px, 0);
}

input[type="button"][name="action"]:hover {
	background: #5a6470;
}

input[type="text"][name="budget"] {
	float: left;
	height: 75%;
	border: 5px solid black;
	background: transparent;
	color: black;
	padding: 10px; /* spazio intorno al testo */
	font-size: 20px; /* dimensione del testo */
	text-align: right;
	font-weight: bold;
	cursor: default;
	user-select: none;
}
